html, body{
  border:none; 
  padding:0; 
  margin:0;
  background:#FFFFFF;
  color:#202020;
  height: 100%;
  min-height: 100%;
  font-family: Arial,Helvetica,sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  text-align:center;
}
main{
  display: flex;
  flex: auto;
}
.flex-container-header {
  display: flex;
  justify-content: space-between;
  background-color:#f8f8f8;
  align-items: center;
}
.flex-item-header {
  flex-basis: auto;
}

.sr1image{
  width: 100%;
  align-self: flex-start;
}

.attblue {
  background: -webkit-radial-gradient(#067ab4, #7cc6ff); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#067ab4, #7cc6ff); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#067ab4, #7cc6ff); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#067ab4, #7cc6ff); /* Standard syntax */
}

.main-header {
  background-color:#f8f8f8;
  height: 90px;
  flex: none;
}

.main-footer{
  position:fixed;
  bottom:0;
  left:0;
  height: 80px;
  width:100%;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #444;
  padding: 5px;
  background-color:#f8f8f8;
  flex: none;
}


#logoTitle{
  font-weight: 400;
  font-size: 48px;
}

#foundry {
height: 80px;
margin-left: auto;
margin-right: auto;
padding: 0px;
}

#nokia {
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  height: 40px;
  padding: 0px;
}



a {
  color: #3c8dbc;
}    


h2 {
font-size: 32px;
font-style: normal;
font-variant: normal;
font-weight: 600;
line-height: 20px;
}

.panel {
  background-color:#f8f8f8;
  padding:0.01em 16px;
  margin:30px 40px;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  -moz-border-radius: 15px;
  border-radius: 15px;
  flex-grow: 1;
  display:flex;
  flex-direction: column;
  align-items: stretch;
}

h1{
  color:#404040;
}

.panel-title {
  flex: none;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
}

#test{
  margin-top:0em;
  margin-bottom:6em;
}
div.testArea{
  display:inline-block;
  width:20em;
  height:16.5em;
  position:relative;
  box-sizing:border-box;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  -moz-border-radius: 15px;
  border-radius: 15px;
  flex-grow: 0;
}
div.testName{
  position:absolute;
  top:0.1em; left:0;
  width:100%;
  font-size:1.4em;
  z-index:9;
}
div.meterText{
  position:absolute;
  bottom:1.55em; left:0;
  width:100%;
  font-size:2.5em;
  z-index:9;
}
div.meterText:empty:before{
  content:"0.00";
}
div.unit{
  position:absolute;
  bottom:2em; left:0;
  width:100%;
  z-index:9;
}
div.testArea canvas{
  position:absolute;
  top:0; left:0; width:100%; height:100%;
  z-index:1;
}

.panelItem {
  flex-grow: 1;
}

.testGroupContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

div.testGroup{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 0;
}
@media all and (max-width:65em){
  body{
    font-size:1.5vw;
  }
}
@media all and (max-width:40em){
  body{
    font-size:0.8em;
  }
  div.testGroup{

    margin: 0 auto;
  }
}


